In [76]:
import psycopg2
import psycopg2.extras

In [83]:
hostname = "localhost"
database = "postgres"
username = "postgres"
pwd = "postgres"
port_id = 5432

conn = None
cur = None

data = pd.DataFrame()

In [89]:
try: 
    conn = psycopg2.connect(
        host = hostname,
        dbname = database,
        user = username,
        password = pwd,
        port = port_id
    )
    cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    create_script = '''SELECT * FROM "Track" WHERE "AlbumId" = 99'''
    
    cur.execute(create_script)
    for record in cur.fetchall():
        print(record)
    conn.commit()

    cur.close()
    conn.close()

except:
    print("Couldn't connect to database.")
finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

[15, 'Go Down', 99, 1, 1, 'AC/DC', 331180, 10847611, Decimal('0.99')]
[16, 'Dog Eat Dog', 99, 1, 1, 'AC/DC', 215196, 7032162, Decimal('0.99')]
[17, 'Let There Be Rock', 99, 1, 1, 'AC/DC', 366654, 12021261, Decimal('0.99')]
[18, 'Bad Boy Boogie', 99, 1, 1, 'AC/DC', 267728, 8776140, Decimal('0.99')]
[1256, 'Be Quick Or Be Dead', 99, 1, 1, 'Bruce Dickinson/Janick Gers', 204512, 8181888, Decimal('0.99')]
[1257, 'From Here To Eternity', 99, 1, 1, 'Steve Harris', 218357, 8739038, Decimal('0.99')]
[1258, 'Afraid To Shoot Strangers', 99, 1, 1, 'Steve Harris', 416496, 16664589, Decimal('0.99')]
[1259, 'Fear Is The Key', 99, 1, 1, 'Bruce Dickinson/Janick Gers', 335307, 13414528, Decimal('0.99')]
[1260, "Childhood's End", 99, 1, 1, 'Steve Harris', 280607, 11225216, Decimal('0.99')]
[1261, 'Wasting Love', 99, 1, 1, 'Bruce Dickinson/Janick Gers', 350981, 14041216, Decimal('0.99')]
[1262, 'The Fugitive', 99, 1, 1, 'Steve Harris', 294112, 11765888, Decimal('0.99')]
[1263, 'Chains Of Misery', 99, 1, 1, 'Bruce Dickinson/David Murray', 217443, 8700032, Decimal('0.99')]
[1264, 'The Apparition', 99, 1, 1, 'Janick Gers/Steve Harris', 234605, 9386112, Decimal('0.99')]
[1265, 'Judas Be My Guide', 99, 1, 1, 'Bruce Dickinson/David Murray', 188786, 7553152, Decimal('0.99')]
[1266, 'Weekend Warrior', 99, 1, 1, 'Janick Gers/Steve Harris', 339748, 13594678, Decimal('0.99')]
[1267, 'Fear Of The Dark', 99, 1, 1, 'Steve Harris', 436976, 17483789, Decimal('0.99')]
[19, 'Problem Child', 99, 1, 1, 'AC/DC', 325041, 10617116, Decimal('0.99')]
[20, 'Overdose', 99, 1, 1, 'AC/DC', 369319, 12066294, Decimal('0.99')]
[21, "Hell Ain't A Bad Place To Be", 99, 1, 1, 'AC/DC', 254380, 8331286, Decimal('0.99')]
[22, 'Whole Lotta Rosie', 99, 1, 1, 'AC/DC', 323761, 10547154, Decimal('0.99')]

In [65]:
# conn = psycopg2.connect(
#         host = hostname,
#         dbname = database,
#         user = username,
#         password = pwd,
#         port = port_id)

In [66]:
# cur = conn.cursor()

In [67]:
# create_script = '''CREATE TABLE IF NOT EXISTS employee4 (
# id int PRIMARY KEY,
# name varchar(50),
# dept varchar(30),
# jozko varchar(45)
# )'''

In [85]:
data

Empty DataFrame
Columns: []
Index: []